@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Roboto";
  font-weight: 400;
}
.line_vue {
  background: #41b883;
  height: 6px;
  width: 100%;
}
nav {
  width: 100%;
  max-width: 1360px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 16px 56px;
}
label .logo {
  padding: 0 100px;
}
nav ul {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: #34495e;
  border-radius: 30px;
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 3px 40px 3px 6px;
}
nav ul li a {
  color: #fff;
  padding: 18px 36px;
  border-radius: 27px;
  font-size: 16px;
  text-transform: uppercase;
}
a:nth-child(1){
  width: 100px;
}
a:nth-child(2){
  width: 100px;
}
a:nth-child(3){
  width: 110px;
}
a.active,
a:hover {
  background: #fff;
  color: #34495e;
  transition: 0.5s;
} 
/*Iniciando o design do conteúdo*/
.play_list {
  display: grid;
  width: 100%;
  height: 420px;
}
.card_course {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(
      90deg,
      rgba(65, 184, 131, 0.6898109585631127) 0%,
      rgba(52, 73, 94, 0.8914916308320203) 100%,
      rgba(65, 184, 131, 0.7570378493194152) 100%
    ),
    url(./assets/playlist_background.png);
  /* background: linear-gradient(
    90deg,
    rgba(65, 184, 131, 1) 0%,
    rgba(52, 73, 94, 1) 100%,
    rgba(65, 184, 131, 1) 100%
  ); */
  object-fit: cover;
  padding: 16px 56px;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}
.description h1,
h2 {
  color: #fff;
}
.description button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background-color: #fff;
  color: #41b883;
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
}
.briefing {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.briefing h1 {
  font-size: 48px;
  color: #fff;
}
/* Seção 2 lista de Cursos  */
.course_list {
  padding-left: 45px;
  display: grid;
  padding-top: 20px;
}
.course_list h1{
  font-size: 32px;
  font-weight: bold;
  color: #34495e;
  text-align: center;
}
.course_list p{
  color: #808080;
  text-align: left;
}
.journey_cards{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.journey_cards h2{
  font-size: 28px;
  color: #34495e;
}
/* Estilização Curso 1 */
.course_1{
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 32px;
}
.titles_course_1{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.titles_course_1 ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.titles_course_1 ul a{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;
  color: #34495e;
  gap: 15px;
}
.titles_course_1 ul a .material-icons{
  text-align: left;
  font-size: 32px;
  color: #41b883;
}
.course_1_card{
  background: #41b883;
  height: 320px;
  width: 420px;
  border-radius: 14px;
  box-shadow: -10px 11px 0px 0px #34495e;
}
.image_course_1{
  height: 320px;
  width: 420px;
}
.image_course_1 img{
  width: 100%;
  height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center center;
}
.course_1_card::after{
 box-shadow: 2px 2px 2px 1px #34495e;
}
.control_course{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:30px;
}
.control_course button{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
#see_all{
  background: #34495e;
}
#subscribe{
  background: #41b883;
}